body {
    margin: 0px;
    font-family: 'Didact Gothic', sans-serif;
    background-color: black;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Navbar */
.navbar {
    display: flex;
    position: absolute;
    box-sizing:border-box;
    padding: 20px;
    z-index: 1;
    justify-content: space-between;
    background-color: black;
    width: 100%;

    animation-duration: 3s;
    animation-name: slidein;
}

.nav-left {
    display: flex;
}

.navbar > .nav-left > div{
    margin-right: 20px;
    font-size: 1em;
    text-transform: uppercase;
}

.nav-right {
    display: flex;
}

.navbar > .nav-right > div{
    margin-right: 20px;
    font-size: 1em;
    text-transform: uppercase;
}

.nav-link {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link a {
    color: aliceblue;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link:hover {
    border-bottom: 1px solid black;
}

.nav-link a:hover {
    color:lightsteelblue;
}

/* Header */
.title {
    display: grid;
    position: relative;
    z-index: 0;
    grid-template-columns: 1fr;
    width:100%;
    height: 100vh;
    background-image: url(images/img-10.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-text {
    font-size: 50px;
}

/* Portfolio */

.projects {
    height: 120vh;
    background-color: rgb(13, 28, 43);
}

.project-title {
    width: 100%;
    display: flex;
    justify-content: center;
}

.project-text {
    font-size: 50px;
}

.project-wrap {
    width: 85%;
    margin: auto;
    padding-top: 20px;
}
.project-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.project-item {
    position: relative;
    margin: 0px 10px 20px 10px;
}

.project-img {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    outline: none;
}

.img-text {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-text .desc {
    transition: 0.7s;
    font-weight: 600;
    color:transparent;
}

.img-text:hover .desc {
    font-weight: 600;
    color: lightskyblue;
}

.img-darken {
    transition: 0.5s;
    filter: brightness(20%);
}

/* Project Modal */

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888; 
    width: 50%;
}

.modal-text {
    color:black;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* About */
.about {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    background: rgb(0, 12, 32);
}

.about-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-text {
    font-size: 50px;
}

.about-content {
    display: flex;
    width:100%;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.about-left {
    flex: 50%
}

.about-right {
    flex:50%
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
}

.info-item {
    margin: 10px;
}

/* ANIME */
